# This notebook will mainly be used for the Capstone Data Science Project

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [3]:
df_raw= pd.read_csv("https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv")

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_raw.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [5]:
df1=df_raw[['SEVERITYCODE','PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT','VEHCOUNT','INATTENTIONIND', 'SPEEDING']]

In [6]:
df1.describe()

,SEVERITYCODE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT
count,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000
mean,1.298901,2.444427,0.037139,0.028391,1.920780
std,0.457778,1.345929,0.198150,0.167413,0.631047
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,0.000000,0.000000,2.000000
50%,1.000000,2.000000,0.000000,0.000000,2.000000
75%,2.000000,3.000000,0.000000,0.000000,2.000000
max,2.000000,81.000000,6.000000,2.000000,12.000000

In [7]:
df1.describe(include='all')

,SEVERITYCODE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INATTENTIONIND,SPEEDING
count,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,29805,9333
unique,NaN,NaN,NaN,NaN,NaN,1,1
top,NaN,NaN,NaN,NaN,NaN,Y,Y
freq,NaN,NaN,NaN,NaN,NaN,29805,9333
mean,1.298901,2.444427,0.037139,0.028391,1.920780,NaN,NaN
std,0.457778,1.345929,0.198150,0.167413,0.631047,NaN,NaN
min,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,1.000000,2.000000,0.000000,0.000000,2.000000,NaN,NaN
50%,1.000000,2.000000,0.000000,0.000000,2.000000,NaN,NaN
75%,2.000000,3.000000,0.000000,0.000000,2.000000,NaN,NaN
max,2.000000,81.000000,6.000000,2.000000,12.000000,NaN,NaN

Since two of our columns contain non-numerical values, it would be useful to cast them to dummy intiger values, for modelling purposes.

As we move deeper into data exploration and modelling, I will require more packages, which I will install now:

In [8]:
df2=pd.get_dummies(df1)

In [9]:
df2.head()

,SEVERITYCODE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INATTENTIONIND_Y,SPEEDING_Y
0,2,2,0,0,2,0,0
1,1,2,0,0,2,0,0
2,1,4,0,0,3,0,0
3,1,3,0,0,3,0,0
4,2,2,0,0,2,0,0

Now, if we want to use a logistic regression, we will need to tranform our severity code column into a binary form.  Since 1=property damage, and 2=injury, we could reassign the meanings as 0=property damage, and 1=injury.

In [10]:
df=df2.sub([1, 0,0,0,0,0,0], axis='columns')
df.head()

,SEVERITYCODE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INATTENTIONIND_Y,SPEEDING_Y
0,1,2,0,0,2,0,0
1,0,2,0,0,2,0,0
2,0,4,0,0,3,0,0
3,0,3,0,0,3,0,0
4,1,2,0,0,2,0,0

In [11]:
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
import seaborn as sns

Lets define our indepenant variables as X, and dependant variable as Y

In [12]:
X = np.asarray(df[['PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT','VEHCOUNT','INATTENTIONIND_Y', 'SPEEDING_Y']])
Y = np.asarray(df[['SEVERITYCODE']])

Now we should split our data set into a training and testing portion.

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size=0.2)
print ('Train set:', X_train.shape,  Y_train.shape)
print ('Test set:', X_test.shape,  Y_test.shape)

Train set: (155738, 6) (155738, 1)
Test set: (38935, 6) (38935, 1)

In [14]:
LR = LogisticRegression().fit(X_train,Y_train.ravel())
LR

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [15]:
Yhat = LR.predict(X_test)
Yhat

array([0, 0, 0, ..., 0, 0, 0])

How accurate is this model at predicting accident severity outcomes? Lets use the Jaccard Index to see.

In [16]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(Y_test, Yhat)

0.7520226017721844

So, it looks like our Y_test data set and Yhat predictions from our model overlap 75% of the time.

Let's check the R^2 of the test and training sets.

In [17]:
LR.score(X_train, Y_train)

0.751203945087262

In [18]:
LR.score(X_test, Y_test)

0.7520226017721844

Based on the R^2 scores between the test and training set, we are getting approximately the same outcomes, so there isnt a huge variance between our testing and training sets.  This tells us that the model is a moderate fit for the data.

Lets look at the precision report:

In [19]:
from sklearn.metrics import classification_report
print (classification_report(Y_test, Yhat))

              precision    recall  f1-score   support

           0       0.75      0.98      0.85     27240
           1       0.82      0.22      0.35     11695

   micro avg       0.75      0.75      0.75     38935
   macro avg       0.78      0.60      0.60     38935
weighted avg       0.77      0.75      0.70     38935

Based on F1-score, it looks like our model is quite good at predicting property damage accidents correctly, but is poor at accurately predicting injury accidents.  The overall F1-score is 0.7, so our model is overall, correct in predicting accident severity 70% of the time.