# This notebook will mainly be used for the Capstone Data Science Project

In [6]:
import pandas as pd
import numpy as np

In [7]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [13]:
df_raw= pd.read_csv("https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv")

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df_raw.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [20]:
df=df_raw[['SEVERITYCODE','PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT','VEHCOUNT','INATTENTIONIND', 'SPEEDING']]

In [25]:
df.describe()

,SEVERITYCODE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT
count,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000
mean,1.298901,2.444427,0.037139,0.028391,1.920780
std,0.457778,1.345929,0.198150,0.167413,0.631047
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,0.000000,0.000000,2.000000
50%,1.000000,2.000000,0.000000,0.000000,2.000000
75%,2.000000,3.000000,0.000000,0.000000,2.000000
max,2.000000,81.000000,6.000000,2.000000,12.000000

In [31]:
df.describe(include='all')

,SEVERITYCODE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INATTENTIONIND,SPEEDING
count,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,29805,9333
unique,NaN,NaN,NaN,NaN,NaN,1,1
top,NaN,NaN,NaN,NaN,NaN,Y,Y
freq,NaN,NaN,NaN,NaN,NaN,29805,9333
mean,1.298901,2.444427,0.037139,0.028391,1.920780,NaN,NaN
std,0.457778,1.345929,0.198150,0.167413,0.631047,NaN,NaN
min,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,1.000000,2.000000,0.000000,0.000000,2.000000,NaN,NaN
50%,1.000000,2.000000,0.000000,0.000000,2.000000,NaN,NaN
75%,2.000000,3.000000,0.000000,0.000000,2.000000,NaN,NaN
max,2.000000,81.000000,6.000000,2.000000,12.000000,NaN,NaN